<form action="<%= session_url %>" method="POST">
	<%= auth %>
	<label>Email
		<input type="text" name="user[email]">
	</label>

	<label>Password
		<input type="password" name="user[password]">
	</label>

	<button>Sign In</button>
</form>
