<form class="reservation-form">

	<label>
		Start Day
		<input type="text" name="reservation[address]" value="<%= reservation.escape('start_day') %>">
	</label>

	<label>
		End Day
		<input type="text" name="reservation[city]" value="<%= reservation.escape('end_day') %>">
	</label>

	<button class="res-form-button">Submit</button>

</form>
