<nav class="header-nav group">

  <a href="/#">
    <img src="http://i.imgur.com/f0THGNq.png" class="logo">
  </a>

  <div class="user-info group">

  <% if(ShopUp.currentUser.isSignedIn()) { %>

      <a href="#/users/<%= ShopUp.currentUser.id %>" class="current-user"><%= ShopUp.currentUser.escape("fname") %></a>
      <a href="#" id="sign-out-link">Sign Out</a>

  <% } else { %>

    <a href="#/signup" class="signup">
      Sign Up
    </a>

    <a href="#/login" class="login">
      Log In
    </a>

  <% } %>

  <a href="#/shops/new" id="new-shop">
    Post a Shop
  </a>

  </div>

    <form class="search-bar">
      <input type="text" placeholder="Where do you want to pop up?" class="search-text" id="tags">
      <!-- <input type="number" placeholder="How many miles should we search?" class="search-date"> -->

      <!-- <input type="text" id="datepicker" placeholder="start date" class="search-date">

      <input type="text" id="datepicker2" placeholder="end date" class="search-date"> -->

      <button class="search-button">
        Search
      </button>
  </form>


</nav>
