<div class="home">
<img src="https://www.sishop.com.au/images/blog/core/_Normann_Copenhagen.jpg">
<header class="home-header">
  <h1>PopUp Anywhere</h1>
</header>

<header class="home-subheader">
  <h4>Rent unique commercial spaces for your pop-up shop</h4>
</header>

</div>

<div class="icons">

  <span class="row">
    <a href="#" class="long" id="first">
      <img src="http://i.imgur.com/TpegiKk.png">
    </a>
    <a href='#'>
      <img src="http://i.imgur.com/yeZt5of.png">
    </a>
  </span>

  <span class="row">
    <a href='#' id="first">
      <img src="http://i.imgur.com/VgZG90D.png">
    </a>
    <a href='#'>
      <img src="http://i.imgur.com/aUH6UZp.png">
    </a>
    <a href='#'>
      <img src="http://i.imgur.com/og4mzba.png">
    </a>
  </span>

  <span class="row">
    <a href='#' id="first">
      <img src="http://i.imgur.com/HQtkUsd.png">
    </a>
    <a href='#' class="long">
      <img src="http://i.imgur.com/DHoDaec.png">
    </a>
  <span class="row">

</div>
