<div class="home">
<img src="https://www.sishop.com.au/images/blog/core/_Normann_Copenhagen.jpg">
<header class="home-header">
  <h1>PopUp Anywhere</h1>
</header>

<header class="home-subheader">
  <h4>Rent unique commercial spaces for your pop-up shop</h4>
</header>

</div>

<div class="icons">

  <span class="row">
    <a href="#/shops" class="long no-op" id="first">
      <div class="title">San Francisco</div>
      <img src="http://i.imgur.com/cPD0rZY.jpg">
    </a>
    <a href='#/shops' class="no-op">
      <div class="title">Paris</div>
      <img src="http://i.imgur.com/WXpzKoG.jpg">
    </a>
  </span>

  <span class="row">
    <a href='#/shops' class="no-op" id="first">
      <div class="title">New York</div>
      <img src="http://i.imgur.com/8UWNkcc.jpg">
    </a>
    <a href='#/shops' class="no-op">
      <div class="title">Amsterdam</div>
      <img src="http://i.imgur.com/3Of2USz.jpg">
    </a>
    <a href='#/shops' class="no-op">
      <div class="title">Rome</div>
      <img src="http://i.imgur.com/K1TI0ZL.jpg">
    </a>
  </span>

  <span class="row">
    <a href='#/shops' class="no-op" id="first">
      <div class="title">Los Angeles</div>
      <img src="http://i.imgur.com/XDf0d84.jpg">
    </a>
    <a href='#/shops' class="long no-op">
      <div class="title">London</div>
      <img src="http://i.imgur.com/9uTaIj8.jpg">
    </a>
  <span class="row">

</div>
