<h2>Log In</h2>

<button id="twitter-login">
  Sign In with Google
</button>

<form class="form-log-in">

    <input type="email" name="user[email]" class="email" placeholder="email">

    <input type="password" name="user[password]" class="password" placeholder="password">

  <button class="log-in">Log In</button>
</form>
