<div class="login-page">
  <h2>Log In</h2>

  <form class="form-log-in group">

      <input type="email" name="user[email]" class="email" placeholder="email">
      <br>
      <input type="password" name="user[password]" class="password" placeholder="password">

    <button class="log-in">Log In</button>
  </form>

  <div class="btn-auth btn-google" id="google-login">
    Sign In with <b>Google</b>
  </div>

  <button class="guest">
    Sign In as Guest
  </button>
</div>
