<div class="login-page">
<br><br><br><br><br><br>

<div class="btn-auth btn-google" id="google-login">
  Log in with <b>Google</b>
</div>
<br><br>


  <form class="form-log-in group">

      <input type="email" name="user[email]" class="email" placeholder="email">

      <input type="password" name="user[password]" class="password" placeholder="password">
      <br><br>
    <button class="log-in">Log In</button>
  </form>
  
  <button class="guest">
    Log in as Guest
  </button>
</div>
