<div class="login-page">
  <h2>Log In</h2>

  <form class="form-log-in group">

      <input type="email" name="user[email]" class="email" placeholder="email">
      <br>
      <input type="password" name="user[password]" class="password" placeholder="password">

    <button class="log-in">Log In</button>
  </form>
  <button class="guest">
    Log in as Guest
  </button>
  <br><br>
  <div class="btn-auth btn-google" id="google-login">
    Log in with <b>Google</b>
  </div>


</div>
