<div class="login-page">
<br><br><br><br><br><br>

<div class="btn-auth btn-google google-sign-up" id="google-login">
	Sign up with <b>Google</b>
</div>
<br><br>


	<form class="user-form">

		<input type="text" name="user[email]" value="<%= user.escape('email') %>" placeholder="email">

		<input type="text" name="user[fname]" value ="<%= user.escape('fname') %>" placeholder="first name">

		<input type="text" name="user[lname]" value="<%= user.escape('lname') %>" placeholder="last name">

		<input type="password" name="user[password]" value="" placeholder="password">
		<br><br>
	  <button class="log-in sign-up">Sign Up</button>
	</form>
</div>
