<% if !logged_in? %>

<form action="<%= users_url %>" method="POST">
	<%= auth %>
	<label>Email
		<input type="text" name="user[email]">
	</label>

	<br>

	<label>First Name
		<input type="text" name="user[fname]">
	</label>

	<br>

	<label>Last Name
		<input type="text" name="user[lname]">
	</label>

	<br>

	<label>Password
		<input type="password" name="user[password]">
	</label>

	<br>

	<button>Create Account</button>
</form>

<% end %>
