<div class="form-shop">
	<% if (shop.isNew()) { %>

	<h2>Post Your Shop</h2>

<%	} else { %>

	<h2>Edit Your Shop</h2>

<% } %>

<form class="shop-form">

	<label>
		<input type="text" name="shop[address]" value="<%= shop.escape('address') %>" class="address" placeholder="address">
	</label>

	<label>
		<input type="text" name="shop[city]" value="<%= shop.escape('city') %>" class="city" placeholder="city">
	</label>

	<label>
		<textarea rows="5" cols="40" placeholder="description" name="shop[description]"></textarea>
	</label>

	<label>
		<input type="text" name="shop[price]" value="<%= shop.escape('price') %>" class="price" placeholder="price">
	</label>

	<label>
		<input type="text" name="shop[size]" value="<%= shop.escape('size') %>" class="size" placeholder="size">
	</label>

	<label class="img">
		<input type="file" name="post[image]" id="input-post-image">
	</label>

	<img src="" id="preview-post-image">

	<br>


	<button class="shop-form-button">Submit</button>
	</form>
</div>
