/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require jquery-ui.structure
 *= require_tree .
 *= require_self
 */
 html, head, body, header,
nav, h1, a, ul, li, main,
section, p, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

header, nav, main, section,
footer, small {
  display: block;
}

ul {
  list-style: none;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  box-sizing: content-box;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  background: #eee;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.body {
  color: black;
}

/*Header*/

#header {
  display: block;
  position: fixed;
  background: white;
}

.header-nav {
  background: white;
  width: 1000px;
  margin: 0 auto;
  padding: 5px;
}
.ui-widget-content {
  background: white;
  font-weight: bold;
  vertical-align: left;
}

.ui-datepicker-unselectable {
  background: #aaa;
  color: white;
}

.ui-datepicker-other-month {
  background: white;
}

.ui-state-hover {
  background: red;
  color: white;
}

.login-links {
  display: block;
  float: right;
  margin-top: 10px;
}

.login {
  display: inline-block;
  float: left;
  margin-right: 20px;
}

.signup {
  display: inline-block;
  float: right;
}

.user-info {
  float: right;
  font-family: sans-serif;
  font-size: 12px;
}

.user-info > a {
  float: left;
  font-weight: bold;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-right: 20px;
}

#new-shop {
  margin-right: 0;

}

.user-info > a:hover {
  color: #aaa;
}

.search-bar {
  display: inline;
  text-align: center;
  padding-left: 143px;
}

.search-bar > input {
  padding: 10px;
  padding-top: 11px;
  border: 1px #aaa solid;
}

.search-bar > button {
  padding: 10px;
  padding-top: 11px;
  border: 1px #aaa solid;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  /*background:red;*/

}

.search-bar > button:hover {
  cursor: pointer;
  opacity: 0.75;
}



.logo {
  float: left;
  width: 115px;
}

.search-text {
  width: 189px;
}

.search-miles {
  width: 80px;
}

.search-date {
  width: 80px;
}

/* Home */

.home {
  display: block;
  width: 100%;
}

.home-header {
  padding-top: 60px;
  width: 300px;
  margin: 0 auto;
}

.home-header > h1 {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  color: #696969;
}

.home-subheader {
  width: 412px;
  margin: 0 auto;
}

.icons {

}

.row {
  display: block;
  width: 980px;
  margin: 0 auto;
}

.row > a {
  display: inline-block;
  width: 310px;
  height: 340px;
  padding-left: 20px;
  padding-bottom: 25px;
}

.row > .long {
  display: inline-block;
  width: 645px;
  height: 340px;

}

.row > #first {
  padding-left: 0px;
}

.row > a > img:hover {
  opacity: 0.85;

}

.title {
  text-align: center;
  color: white;
  position: relative;
  font-size: 36px;
  top: 203px;
  z-index: 1;
  text-shadow:
  3px 3px 0 #000,
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

a:hover {
  opacity: 0.75;
}

.no-op:hover {
  opacity:1;
}

#last-row {
  padding-bottom: 60px;
}

/* User-Form */

.login-page > .user-form > .sign-up {
  position: relative;
  bottom: 60px;
}

/* User-Show */

.user-name {
  text-align: center;
  font-size: 28px;
}

.user-show {
  width: 1000px;
  margin: 0 auto;
}

.user-show a:hover {
  cursor: pointer;
  color: red;
}

.user-show > span > div {
  background: white;
  border: 1px grey solid;
  border-radius: 10px;
  display: inline-block;
  padding: 5px;
}

.left {
  float: left;
  width: 490px;
  margin: 0 auto;
}

.right {
  float: right;
  width: 490px;
  margin: 0 auto;
}

.users-shops {
  width: 350px;
  float: right;
}

.user-pen-res {
  margin-top: 10px;
  width: 350px;
  float: right;
}

.users-res-reqs {
  margin-top: 10px;
  width: 350px;
}

.user-appr-res {
  width: 350px;
}

.user-show h3 {
  text-align: center;
  border-bottom: 1px grey solid;
  margin-bottom: 10px;
  padding-bottom: 8.72px;
  margin-top: 10px;
}

.other-shops {
  background: white;
  border: 1px grey solid;
  border-radius: 10px;
  display: inline-block;
  padding: 5px;
}

.other-shops a:hover {
  color: red;
}

.other-shops h3 {
  text-align: center;
  border-bottom: 1px grey solid;
  margin-bottom: 10px;
  padding-bottom: 8.72px;
  margin-top: 10px;
}


/* Shop Form */
#preview-post-image {
  max-width: 300px;
}

.shop-form label {
  display: block;
  padding-bottom: 20px;
}

.shop-form input {
  width: 478px;
  padding: 10px;
}

.shop-form textarea {
  width: 478px;
  padding: 10px;
  border: 1px #ccc solid;
}

.shop-form > .img {
  padding-bottom: 0px;
}

.form-shop {
  width: 1000px;
  margin: 0 auto;
}

.shop-form button {
  cursor: pointer;
  padding: 10px;
  padding-top: 11px;
  border: 1px #aaa solid;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 100px;
}

.shop-form button:hover {
  opacity: 0.75;
}

/* Shop Show */
.shop-show {
  width: 1000px;
  margin: 0 auto;
}

.left-shop {
  float: left;
}

.right-shop {
  float: right;
}

.shop-show > span > div {
  background: #eee;
  background: white;
}

.shop-info {
  width: 487px;
  display: block;
  border: 1px grey solid;
  border-radius: 10px;
  padding: 0 4px 20px 4px;
  margin-top: 29px;
}

.shop-show h3 {
  text-align: center;
}

.shop-info > div {
  display:block;
  padding: 10px 4px 0 10px;
}

.shop-show-address {
  font-weight: bold;
  text-align: center;
}

#shop-show-size {
  float: right;
  position:relative;
  bottom: 80px;
  left: 70px;
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  z-index: 1;
  text-shadow:
  1px 1px 0 #fff,
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff;
}

#shop-show-price {
  float:right;
  position: relative;
  display: inline-block;
  bottom: 40px;
  background: red;
  color: white;
  font-weight: bold;
  padding: 5px;
  letter-spacing: 2px;
}

.shop-show-desc {
  text-align: center;
}

.res-info {
  width:487px;
  float:right;
  border: 1px grey solid;
  border-radius: 10px;
  margin-top: 20px;
  padding: 0 4px 10px 4px;;
}

.review-date {
  display: inline;
  text-align: center;
  float:right;
}

.res-buttons {
  padding: 4px;
}

.shop-show button {
  cursor: pointer;
  padding: 10px;
  padding-top: 11px;
  border: 1px #aaa solid;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 200px;
}

.shop-show button:hover {
  opacity: 0.75;
}

.delete-request {
  float:right;
}

.delete-yours {
  float:left;
  padding-bottom: 5px;
}

.delete-yours > button {
  border-radius: 10px;
  background: red;
  padding-left: 5px;
  padding-right: 5px;
  width: auto;
  margin-left: 30px;
}


.ui-datepicker-header {
  background: black;
  color: white;
}

.hasDatepicker {
  padding: 10px;
  border: 1px grey solid;
}

#datepicker4 {
  float:right;
}

.request-info {
  width:487px;
  float:right;
  border: 1px grey solid;
  border-radius: 10px;
  padding: 0 4px 0 4px;
  margin: 0 0 20px 0;
}

.request-yo {
  border-top: 1px grey solid;
  padding: 5px 0;
}

.req-info {
  display: block;
  margin: 5px;
  padding-top: 5px;
  border-top: 1px grey solid;
}

.request-button {
  margin-bottom: 10px;
  position: relative;
  right: 90px;
}

.res-dates {
  float: left;
}

.approval {
  float: right;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 20px;
  position: relative;
  top: 10px;
}

.approval-status {
  float: right;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 20px;

}

.request-dates {
  padding: 20px;
}

.request-button {
  padding: 10px;
  margin-left: 235px;
}

.review-info {
  width: 487px;
  border: 1px grey solid;
  border-radius: 10px;
  padding: 0 4px 5px 4px;
  margin: 10px 0 20px 0;
}

.review-button {
  padding: 5px;
}

.review-form input{
  display: block;
  padding: 10px;
  border: 1px grey solid;
  margin: 0 10px 5px;
  width: 438px;
}

.review-form button {
  margin-left: 10px;
}


.review-body {
  height: 100px;
  padding: 10px;
  width: 438px;
  margin: 0 10px 5px;
}

.req-name-date {
  display: inline-block;
  padding-left: 4px;
}

.review {
  display: block;
  padding: 5px;
  margin-top: 5px;
  border-top: 1px grey solid;
}


/* Shop Index */
.index-img {
  width: 200px;
}

.shop-list {
  padding: 40px;
}

/* Shop Search */


.search-pic {
  width: 300px;
}

.search-address {
  font-weight: bold;
  position: relative;
  bottom: 18px;
}

.search-desc {
  position:relative;
  bottom: 15px;
}

.results {
  padding: 0 20px;
  background: white;
}

.result {
  float: left;
  width: 300px;
  height: 400px;
  margin: 40px;
}

.search-price {
  position: relative;
  display: inline-block;
  bottom: 40px;
  background: red;
  color: white;
  font-weight: bold;
  padding: 5px;
  letter-spacing: 2px;
  z-index: 2;
  opacity: 1;
}

.search-size {
  position:relative;
  display: inline-block;
  top: 40px;
  left: 220px;
  font-weight: bold;
  z-index: 2;
  opacity: 1;
  text-shadow:
  1px 1px 0 #fff,
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff;
}

.search-page {
  width: 1180px;
  margin: 0 auto;
}

/* login */
.login-page {
  padding: 40px;
  width: 328px;
  margin: 0 auto;
}

.login-page > h2 {
  text-align: center;
}

.guest {
  padding: 4px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #aaa;
  color:white;
  cursor: pointer;
}

.guest:hover {
  opacity: 0.75;
}

.login-page input {
  padding: 10px;
  display: inline-block;
  margin-bottom: 10px;
  padding-right: 40px;
}

.log-in {
  padding: 4px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #aaa;
  color:white;
  cursor: pointer;

  float: right;
  position: relative;
  bottom: 18px;
}

.log-in:hover {
  opacity: 0.75
}

/*GOOGLE BUTTON*/


.btn-auth,
.btn-auth:visited {
    position: relative;
    display: inline-block;
    height: 22px;
    padding: 0 1em;
    border: 1px solid #999;
    border-radius: 2px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    color: #222;
    background: #fff;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* iOS */
    -webkit-appearance: none; /* 1 */
    /* IE6/7 hacks */
    *overflow: visible;  /* 2 */
    *display: inline; /* 3 */
    *zoom: 1; /* 3 */
}

.btn-auth:hover,
.btn-auth:focus,
.btn-auth:active {
    color: #222;
    text-decoration: none;
}

.btn-auth:before {
    content: "";
    float: left;
    width: 22px;
    height: 22px;
    background: url(https://raw.githubusercontent.com/necolas/css3-social-signin-buttons/gh-pages/auth-icons.png) no-repeat 99px 99px;
}

/**
 * 36px
 */

.btn-auth.large {
    height: 36px;
    line-height: 36px;
    font-size: 20px;
}

.btn-auth.large:before {
    width: 36px;
    height: 36px;
}

/*
 * Remove excess padding and border in FF3+
 */

.btn-auth::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* Google
   ========================================================================== */

.btn-google,
.btn-google:visited {
    border-color: #3079ed;
    color: #fff;
    background: #4787ed;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#4787ed));
    background-image: -webkit-linear-gradient(#4d90fe, #4787ed);
    background-image: -moz-linear-gradient(#4d90fe, #4787ed);
    background-image: -ms-linear-gradient(#4d90fe, #4787ed);
    background-image: -o-linear-gradient(#4d90fe, #4787ed);
    background-image: linear-gradient(#4d90fe, #4787ed);
}

.btn-google:hover,
.btn-google:focus,
.btn-google:active {
    color: #fff;
    background-color: #357ae8;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#357ae8));
    background-image: -webkit-linear-gradient(#4d90fe, #357ae8);
    background-image: -moz-linear-gradient(#4d90fe, #357ae8);
    background-image: -ms-linear-gradient(#4d90fe, #357ae8);
    background-image: -o-linear-gradient(#4d90fe, #357ae8);
    background-image: linear-gradient(#4d90fe, #357ae8);
}

.btn-google:active {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

/*
 * Icon
 */

.btn-google:before {
    margin: 0 1em 0 -1em;
    background-position: -88px 0;
    background-color: #e6e6e6;
}

.btn-google.large:before {
    background-position: -144px -22px;
}
